body {
 background-image: url("web.jpg");
 background-color: #cccccc;
}



body {
  font-family: sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center everything horizontally */
}

.top-info {
  text-align: center;
  margin-bottom: 0px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: flex-start;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 100px;
  padding: 0 20px;
  box-sizing: border-box;
}


/* Info Card */
.info-card {
  background-color: white;
  border-radius: 15px;
  padding: 35px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.7);
}

.info-card h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  color: black;
  padding: 10px 0;
  width: 35%;
}

td {
  color: #black;
  padding: 10px 0;
}

tr:nth-child(even) {
  background-color: white;
}

/* Stats Grid */
.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 50%;
}

.stat h1 {
  font-size: 48px;
  margin: 0;
  color: black;
}

.stat p {
  margin-top: 5px;
  color: black;
  font-size: 16px;
}

